{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 47.3769,
    "longitude": 8.5417,
    "elevation": 408,
    "unit_system_v2": "metric",
    "location_name": "Marketplace Testing Instance",
    "time_zone": "Europe/Zurich",
    "external_url": null,
    "internal_url": null,
    "currency": "CHF",
    "country": "CH",
    "language": "en",
    "radius": 100
  }
}