{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 40.4167,
    "longitude": -3.7033,
    "elevation": 600,
    "unit_system_v2": "metric",
    "location_name": "Marketplace Testing Instance",
    "time_zone": "Europe/Madrid",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "ES",
    "language": "en",
    "radius": 100
  }
}